extends layout

block content
  //- pre= JSON.stringify(top, null, 2)

  <div class="container">
    <div class="row">
      <div className="col-md-6" style="padding: 0 20px 0 0;">
        <table class="table table-sm" style="font-size: .8em;">
          <tbody>
            <tr>
              <th scope="row">Packet</th>
              <td>#{top.PACKET_NAME}</td>
              <th scope="row">Shift</th>
              <td>#{top.SHIFT}</td>
            </tr>
            <tr>
              <th scope="row">Canvasser</th>
              <td>#{top.CANVASSER_FIRST_NAME} #{top.CANVASSER_LAST_NAME}</td>
              <th scope="row">Supervisor</th>
              <td>#{top.SUPERVISOR_FIRST_NAME} #{top.SUPERVISOR_LAST_NAME}</td>
            </tr>
            <tr>
              <th scope="row">Collection Date</th>
              <td>#{top.COLLECTION_DATE}</td>
              <th scope="row">Location</th>
              <td>#{top.LOCATION_TYPE}: #{top.LOCATION_NAME}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div className="col-md-6" style="padding: 0 20px 0 0;">
        <table class="table table-sm" style="font-size: .8em;">
          <tbody>
            <tr>
              <th scope="row">Circulator's Name</th>
              <td>#{top['Circulator\'s Name']}</td>
            </tr>
            <tr>
              <th scope="row">Circulator's Address</th>
              <td>#{top['Circulator\'s Address']}</td>
            </tr>
            <tr>
              <th scope="row">Circulator's Signature Present</th>
              <td>#{top['Circulator\'s Signature'] ? 'Yes' : 'No'}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  if (signiatures && signiatures.length)
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          each header in signiaturesHeaders
            <th>#{header}</th>
        </tr>
      </thead>
      <tbody>
        each signiature in signiatures
          //- <tr class="signiature-row" data-signiature-id="#{signiature['id']}">
          <tr>
            each header in signiaturesHeaders
              <td>#{signiature[header]}</td>
          </tr>
      </tbody>
    </table>
  else
    h6 No pages yet

  //- script.
  //-   $(function() {
  //-     $('.signiature-row').on('click', function() {
  //-       window.here = this;
  //-       var url = '/petition/signiature/' + $(this).data("signiature-id");
  //-       window.location.href = url;
  //-     });
  //-   });

  
  //- pre= JSON.stringify(signiatures, null, 2)